.form {
  flex: 0 0 auto;
  padding: 1em;
  max-height: calc(83vh);
  overflow-y: auto;
}

label {
  user-select: none;
}

input[type="number"] {
  width: 3em;
}

.columns {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
}

.column {
  flex: 1 0 auto;
}

.column:not(:last-child) {
  margin-right: 1em;
}

.hidden {
  display: none;
}

.buttons {
  text-align: right;
}
