<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta property="og:site_name" content="DDR.tools" />
    <meta property="og:title" content="The Beast in the East 5 SMX Card Draw" />
    <meta
      property="og:description"
      content="Custom card draw for The Beast in the East 5 SMX Teaser Tournament"
    />
    <meta property="og:image" content="/ddr-tools-128.png" />
    <meta name="theme-color" content="#d12f25" />
    <title>The Beast in the East 5 SMX Card Draw</title>
  </head>
  <body></body>
</html>
